/* width */
/*::-webkit-scrollbar {
  height: 30px;
  cursor: pointer !important;
}
*/
/* Track */
/*::-webkit-scrollbar-track:hover {
}
::-webkit-scrollbar-track {
  background: #333;
}
*/
/* Handle */
/*::-webkit-scrollbar-thumb {
  background: #555;
}
*/
/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
  background: #666;
}
*/

@font-face {
  font-family: mono;
  src: url('/fonts/Hermit-Regular.woff2');
}

* {
  font-family: mono;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #1c1c1c;
  overflow: hidden;
}

#container {
  position: relative;
}

.editor {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.prompt {
  font-size: 11pt;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
  display: grid;
  align-items: center;
}

.prompt .inner {
  text-align: center;
  margin: 0 auto;
  background: #fff;
  min-width: 200px;
}
.prompt input {
  margin: 5px;
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #aaa;
  font-size: 10pt;
}
.prompt .title {
  background: #000;
  color: #fff;
}
.prompt .text {
  margin: 5px;
}
.prompt .buttons {
  margin: 5px;
  text-align: right;
}

.back-canvas {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.shader-canvas {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background: #1c1c1c;
}

/* sidebar */

.sidebar {
  position: fixed;
  z-index: 200;
  height: auto;
  right: 10px;
  width: 300px;
}
.toolbar {
  position: absolute;
  /*left: 12.7px;*/
  right: -16px;
  top: 3.5px;
  width: 176px;
  /*width: 272px;*/
  flex-flow: row nowrap;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 2.5px;
}
.toolbar button.icon {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.toolbar button.icon:disabled {
  cursor: default;
}

.toolbar button.logo {
  padding: 0;
  position: fixed;
  top: .5px;
  left: 4.5px;
}
.toolbar button.logo .path {
  stroke: #fff;
  stroke-width: 1.9;
  fill: transparent;
}
.toolbar button.logo:hover .path {
  stroke: #fff;
}
.toolbar button.logo .path.wave {
  stroke: #fff;
}

.toolbar button.play {
  position: relative;
  padding: 0;
  top: -1px;
  right: 0px;
}
.toolbar button.play .path {
  stroke: #fff;
  stroke-width: 1.55;
  fill: transparent;
}
.toolbar button.play:hover .path {
  stroke: #fff;
  fill: #fff;
}


.toolbar button.like {
  position: relative;
  padding: 0;
  top: -1px;
  right: 0px;
}
.toolbar button.like .path {
  stroke: #fff;
  stroke-width: 1.85;
  fill: transparent;
}
.toolbar button.like:hover .path {
  stroke: #fff;
  fill: #fff;
}


.toolbar button.share {
  position: relative;
  padding: 0;
  top: -.5px;
  margin-left: -2px;
}
.toolbar button.share circle,
.toolbar button.share line {
  stroke: #fff;
  stroke-width: 1.45;
  fill: transparent;
}
.toolbar button.share:hover circle {
  stroke: #fff;
  fill: #fff;
}


.toolbar button.save {
  position: relative;
  padding: 0;
  top: -2px;
  left: -1px;
}
.toolbar button.save .path {
  stroke: #fff;
  stroke-width: 1.5;
  fill: transparent;
}
.toolbar button.save:hover circle {
  fill: #fff;
  stroke: #fff;
}

.toolbar button.eye {
  position: fixed;
  padding: 0;
  bottom: 5px;
  right: 8px;
}
.toolbar button.eye .path {
  stroke: #fff;
  stroke-width: 1.5;
  fill: transparent;
}
.toolbar button.eye circle {
  stroke: #fff;
  fill: transparent;
  stroke-width: 1.5;
}
.toolbar button.eye.active circle {
  visibility: hidden;
}
.toolbar button.eye:hover circle {
  visibility: visible;
  fill: '#fff';
}
.toolbar button.eye.active:hover circle {
  visibility: hidden;
}

.toolbar button.code {
  position: fixed;
  padding: 0;
  bottom: 5px;
  right: 38px;
}
.toolbar button.code .path {
  stroke: #fff;
  stroke-width: 1.5;
  fill: transparent;
}


.menu {
  position: fixed;
  z-index: 500;
  left: 0;
  top: 25.5px;
  right: 0;
  bottom: 0;
  display: grid;
  /*background: rgba(0,0,0,.2);*/
  align-items: center;
}
.menu-inner {
  display: grid;
  border: 1px solid #fff;
  font-size: 9pt;
  margin: 0 auto;
  background: rgba(0,0,0,.8);
  min-width: 800px;
  max-width: 800px;
  min-height: 91%;
  max-height: 91%;
  align-items: center;
  justify-content: center;
}
.menu-select {
  display: grid;
}
.menu-select button {
  margin: 7px 0;
  width: 200px;
  height: 45px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.menu-select button:hover {
  background: #fff;
  color: #000
}


.track-list {
  border: 1px solid #fff;
  color: #fff;
  margin-top: 26px;
  padding: 15px;
  /*padding-top: 32px;*/
  background: rgba(0,0,0,.7);
  font-size: 9pt;
  list-style-position: inside;
}
.track-list-item {
  cursor: pointer;
}
.track-list:not(:hover) .track-list-item.active,
.track-list-item:hover {
  background: #fff;
  color: #000;
}

.clock {
  position: fixed;
  top: 3.2px;
  font-size: 10.5pt;
  right: 50%;
  margin-right: -62px;
  width: 100px;
  color: #fff;
  display: flex;
  z-index: 200;
}
.clock div {
  width: 25px;
  position: relative;
  text-align: center;
}
.clock div:not(:first-child):before {
  content: '.';
  position: absolute;
  left: -4px;
}

.wave {
  position: fixed;
  top: 0;
  right: 185px;
  z-index: 200;
}
