/* width */
/*::-webkit-scrollbar {
  height: 30px;
  cursor: pointer !important;
}
*/
/* Track */
/*::-webkit-scrollbar-track:hover {
}
::-webkit-scrollbar-track {
  background: #333;
}
*/
/* Handle */
/*::-webkit-scrollbar-thumb {
  background: #555;
}
*/
/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
  background: #666;
}
*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  overflow: hidden;
}

#container {
  position: relative;
}

.editor {
}

.prompt {
  font-family: sans-serif;
  font-size: 11pt;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
  display: grid;
  align-items: center;
}

.prompt .inner {
  text-align: center;
  margin: 0 auto;
  background: #fff;
  min-width: 200px;
}
.prompt input {
  margin: 5px;
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #aaa;
  font-size: 10pt;
}
.prompt .title {
  background: #000;
  color: #fff;
}
.prompt .text {
  margin: 5px;
}
.prompt .buttons {
  margin: 5px;
  text-align: right;
}
